.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    &__title {
        font-size: var(--h3-font-size);
        color: var(--title-color);
        font-weight: var(--font-medium);
        text-align: center;
        margin-bottom: var(--margin-0-5);
    }

    &__subtitle {
        display: block;
        font-size: var(--small-font-size);
        margin-bottom: var(--margin-3);
        text-align: center;
    }
}

@media (max-width:768px) {
    .header {
        z-index: 100;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--body-color);
    }

    .main {
        padding: 0 1rem;
    }

    .section {
        padding: 2rem 0 4rem;
    }

    .container {
        max-width: 700px;
        margin-left: var(--margin-1-5);
        margin-right: var(--margin-1-5);
    }
}

@media (min-width:768px) {
    .header {
        z-index: 100;
        width: 100%;
        position: fixed;
        left: 0;
        background-color: var(--body-color);
        top: 0;
        padding: 0 1rem;
    }

    .main {
        padding: 0 1rem;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:1024px) {
    .header {
        z-index: 100;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--body-color);
        padding: 0;
    }

    .main {
        padding: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .container {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}