:root {
    --header-height: 3rem;
    --body-font: 'Poppins', sans-serif;

    //主题色
    --hue-color: 250;

    //HSL color mode
    //色相 - 饱和度 - 亮度
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: hsl(var(--hue-color), 100%, 98%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    //1rem默认为18px(google)
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --big-font-size: 2rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --margin-0-25: .25rem;
    --margin-0-5: .5rem;
    --margin-0-75: .75rem;
    --margin-1: 1rem;
    --margin-1-5: 1.5rem;
    --margin-2: 2rem;
    --margin-2-5: 2.5rem;
    --margin-3: 3rem;
}

//为大屏幕设置更大的尺寸
@media (min-width: 968px) {
    :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --big-font-size: 3rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}